{% if page is defined %}
    {% set item = page %}
{% elif article is defined %}
    {% set item = article %}
{% else %}
    {% set item = None %}
{% endif %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ SITENAME }}{% endblock %}</title>
    <meta name="description" content="{% block description %}{{ SITE_DESCRIPTION }}{% endblock %}"/>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0"/>

    {# Authorship #}
    {% include "identity/app.net.html" %}
    {% include "identity/opengraph.html" %}
    {% include "identity/google.html" %}
    {% include "identity/twitter.html" %}
    {% for id in IDENTITY %}
    <link rel="me" href="{{ IDENTITY[id] }}"/>
    {% endfor %}

    {# IndieWeb OpenID #}
    <link rel="openid.delegate" href="http://www.chriskrycho.com/" />
    <link rel="openid.server" href="https://indieauth.com/openid" />

    {# CSS #}
    <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/{{ CSS_FILE }}"/>
    <link rel="stylesheet" type="text/css" href="/{{ THEME_STATIC_DIR }}/fonts.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    {# Favicon #}
    <link href="/favicon.png" type="image/png" rel="icon" />
    <link href="/favicon.ico" type="image/ico" rel="icon" />

    {# Font tracking Script #}
    <script type="text/javascript" src="{{ JS_DIR }}/mtiFontTrackingCode.js"></script>

    {# RSS Feed(s) #}
    <link rel="alternate" href="/feed.xml" type="application/rss+xml" title="All posts">
    {% for category, _ in categories %}
        <link rel="alternate" href="/feeds/{{ category.name }}.xml" type="application/rss+xml" title="Posts filed in in '{{ category.name|title }}''">
    {% endfor %}
    {% block additional_feeds %}{% endblock %}
</head>
<body>
    <header id="site-header">
        <div class="hgroup">
            <h1 id="site-title">
                {% set title = '<img class="logotype" src="' + LOGO + '" alt="ck"/>' + SITENAME %}
                {% if output_file != "index.html" %}<a href="{{ SITEURL }}">{{ title }}</a>
                    {% else %}{{ title }}
                {% endif %}</h1>

            <h2 id="site-subtitle">{{ SITE_DESCRIPTION_HTML }}</h2>
        </div>

        <nav>
            <ul>
                <li class="section-title"><a href="{{ SITEURL }}/about.html">About</a></li>
            {% for category, _ in categories %}
                {% if category != 'micro' and category != 'blog' %}
                <li class="section-title {{category.slug}}"><a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></li>
                {% endif %}
            {% endfor %}
                <li class="section-title divider" role="presentation"></li>
                <li class="section-title"><a href="{{ SITEURL }}/series.html">Series</a></li>
                {# <li class="section-title divider" role="presentation"></li> #}
                {# <li class="section-title"><a href="{{ SITEURL }}/archives.html">Archives</a></li> #}
            </ul>
        </nav>

        {% block section_head %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    <footer id="site-footer">{% include "includes/footer.html" %}</footer>

    {# Scripts #}
    {# bib.ly Bible references #}
    <script async src="http://code.bib.ly/bibly.min.js"></script>
    <link href="http://code.bib.ly/bibly.min.css" rel="stylesheet" />
    {# Fonts.com tracking code #}
    <script type="text/javascript">
    var MTIProjectId='a34d2e31-99b5-469a-9b81-128fc0bd9745';
    </script>

    {% block extra_scripts %}{# For adding template-specific JS #}{% endblock %}
</body>
</html>
