#archival-notice {
    font-family: "Cronos Pro","Century Gothic",Trebuchet,sans;
    text-align: center;
    background: linear-gradient(to right, #5592C9 -15%, #01295C 35%, #5592C9);
    color: #FEFEFE;
    font-size: 1.4rem;
    border-bottom: 1px solid #6C7487;
    padding-bottom: 0.3125rem;
    padding-top: 0.3125rem;
}

#archival-notice a,
#archival-notice a:visited {
    color: #89BBE6;
}

#archival-notice a:hover,
#archival-notice a:active {
    color: #FEFEFE;
}

body::before {
    border-bottom: none;
}
