/* //meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/**
 * Modular scale:
 *    http://modularscale.com/scale/?px1=20&px2=40&ra1=1.6&ra2=1.2&name=minorsixthminorthird
 *
 * Base text size: 20px @ 5:8 (minor sixth)
 * Important number: 40px @ 5:6 (minor third)
 *
 * Font sizes given in terms of headings/paragraph (fs1 => h1, fsp => p)
 * The commented sizes are at the base scale.
 *
 * Note that the ratios are the important bit; the base text size can be adjusted
 * at whim and the ratios will rremain fixed---only the calculated px values will
 * change.
 */
/* Color schreme:
 *    //www.colourlovers.com/palette/1875001/The_First_Scarf
 *
 * Colors:
 *    Dark gray:  #20282A (more than the ocean)
 *    Light gray: #6C7487 (terminal blue gray)
 *    White:      #FFFFFF (white)
 *    Light blue: #5592C9 (Scarf Stripe)
 *    Dark blue:  #01295C (Dark Wash Jeans)
 */
/* Font families
 *
 * Font kits hosted locally and served by Fonts.com.
 */
/* http://jmblog.github.com/color-themes-for-google-code-highlightjs */
/* Tomorrow Comment */
.hljs-comment,
.hljs-title {
  color: #8e908c; }

/* Tomorrow Red */
.hljs-variable,
.hljs-attribute,
.hljs-tag,
.hljs-regexp,
.ruby .hljs-constant,
.xml .hljs-tag .hljs-title,
.xml .hljs-pi,
.xml .hljs-doctype,
.html .hljs-doctype,
.css .hljs-id,
.css .hljs-class,
.css .hljs-pseudo {
  color: #c82829; }

/* Tomorrow Orange */
.hljs-number,
.hljs-preprocessor,
.hljs-pragma,
.hljs-built_in,
.hljs-literal,
.hljs-params,
.hljs-constant {
  color: #f5871f; }

/* Tomorrow Yellow */
.ruby .hljs-class .hljs-title,
.css .hljs-rules .hljs-attribute {
  color: #eab700; }

/* Tomorrow Green */
.hljs-string,
.hljs-value,
.hljs-inheritance,
.hljs-header,
.ruby .hljs-symbol,
.xml .hljs-cdata {
  color: #718c00; }

/* Tomorrow Aqua */
.css .hljs-hexcolor {
  color: #3e999f; }

/* Tomorrow Blue */
.hljs-function,
.python .hljs-decorator,
.python .hljs-title,
.ruby .hljs-function .hljs-title,
.ruby .hljs-title .hljs-keyword,
.perl .hljs-sub,
.javascript .hljs-title,
.coffeescript .hljs-title {
  color: #4271ae; }

/* Tomorrow Purple */
.hljs-keyword,
.javascript .hljs-function {
  color: #8959a8; }

.hljs {
  display: block;
  background: white;
  color: #4d4d4c;
  padding: 0.5em; }

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata {
  opacity: 0.5; }

.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.1em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.35em;
  margin: 0 0.1em 0 0.2em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
  background-color: rgba(110, 110, 110, 0.2);
  backface-visibility: hidden;
  font-size: 1rem;
  line-height: 0;
  vertical-align: middle;
  text-decoration: none;
  font-smoothing: antialiased;
  transition-property: background-color;
  transition-duration: 0.25s; }
  .bigfoot-footnote__button:hover, .bigfoot-footnote__button:focus {
    outline: none;
    background-color: rgba(110, 110, 110, 0.5); }
  .bigfoot-footnote__button:active {
    background-color: rgba(110, 110, 110, 0.5); }
  .bigfoot-footnote__button.is-active {
    background-color: #6e6e6e;
    transition-delay: 0.1s; }
  .bigfoot-footnote__button:after {
    content: '';
    display: table;
    clear: both; }

.bigfoot-footnote__button__circle {
  display: inline-block;
  width: 0.25em;
  height: 0.25em;
  margin-right: 0.25em;
  float: left; }
  .bigfoot-footnote__button__circle:last-child {
    margin-right: 0; }

.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0; }

@media not print {
  .footnote-print-only {
    display: none !important; } }
@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important; } }
.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.96924em 0;
  background: #fafafa;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  line-height: 0;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transform: scale(0.1) translateZ(0);
  transform-origin: 50% 0; }
  .bigfoot-footnote.is-positioned-top {
    top: auto;
    bottom: 0; }
  .bigfoot-footnote.is-active {
    transform: scale(1) translateZ(0);
    opacity: 0.97; }
  .bigfoot-footnote.is-bottom-fixed {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    transform: translateY(100%);
    width: 100%;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    border-width: 1px 0 0;
    transition: transform 0.3s ease; }
    .bigfoot-footnote.is-bottom-fixed.is-active {
      transform: translateY(0); }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
      margin: 0 0 0 50%;
      transform: translateX(-50%);
      max-width: 100%; }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
      border-radius: 0; }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
      display: none; }
  .bigfoot-footnote.is-scrollable:after {
    content: '';
    position: absolute;
    bottom: 0.3375em;
    left: 0.3375em;
    z-index: 14;
    display: block;
    height: 0.78125em;
    width: 0.625em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-size: cover;
    opacity: 0.1;
    transition-properties: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease; }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0; }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
    top: -1px;
    height: 1.1em;
    border-radius: 0.5em 0.5em 0 0;
    background-image: linear-gradient(to bottom, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    bottom: -1px;
    height: 1.2em;
    border-radius: 0 0 0.5em 0.5em;
    background-image: linear-gradient(to top, #fafafa 50%, rgba(250, 250, 250, 0) 100%); }
  .bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
    display: none; }
  .bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
    opacity: 0;
    transition-delay: 0; }

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #fafafa;
  border-radius: 0.5em;
  line-height: 0; }

.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fafafa;
  border-radius: 0.5em;
  font-smoothing: subpixel-antialiased;
  line-height: normal; }
  .bigfoot-footnote__content img {
    max-width: 100%; }
  .bigfoot-footnote__content *:last-child {
    margin-bottom: 0 !important; }
  .bigfoot-footnote__content *:first-child {
    margin-top: 0 !important; }

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  transform: rotate(45deg);
  background: #fafafa;
  border: 1px solid #c3c3c3;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0; }
  .is-positioned-bottom .bigfoot-footnote__tooltip {
    top: -0.65em; }
  .is-positioned-top .bigfoot-footnote__tooltip {
    bottom: -0.65em; }

.bigfoot-footnote__button {
  position: relative;
  height: 0.95em;
  width: 1.5em;
  border-radius: 0.475em; }
  .bigfoot-footnote__button:after {
    content: attr(data-footnote-number);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    font-size: 0.57em;
    font-weight: bold;
    color: rgba(110, 110, 110, 0.5);
    transition: color 0.25s ease; }
  .bigfoot-footnote__button:hover:after, .bigfoot-footnote__button.is-active:after {
    color: white; }

.bigfoot-footnote__button__circle {
  display: none; }

html {
  font-size: 125%;
  /* -> 20px, using percentage to allow IE user stylesheet changes */
  font-family: "Cardo", Times, "Times New Roman", serif;
  color: #20282A;
  background: #01295C;
  line-height: 1.44; }

body {
  line-height: 1.44;
  background: #FEFEFE; }

a {
  text-indent: 0;
  text-decoration: none;
  display: inline-block;
  line-height: 1;
  -webkit-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1); }
  a:link, a:visited {
    color: #5592C9;
    border-bottom: 1px solid transparent; }
  a:hover, a:active {
    color: #01295C;
    border-bottom: 1px solid #20282A;
    -webkit-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1); }

img {
  max-height: 100%;
  max-width: 100%; }

iframe {
  margin: 1em auto;
  display: block; }

p, ul, ol, li {
  font-size: 1em; }

blockquote {
  font-size: 0.965em;
  color: #6C7487;
  line-height: 1.389;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0.224em;
  margin-right: 0;
  border-left: 2px solid #5592C9;
  padding-top: 0;
  padding-bottom: 0.323em;
  padding-left: 1.157em;
  padding-right: 2.4em; }

p {
  text-indent: 1.389em; }

h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p, ul + p, ol + p, blockquote + p, pre + p, hr + p, figure + p, iframe + p {
  text-indent: 0; }

p:first-child, p:first-of-type {
  text-indent: 0; }

ul {
  list-style: none; }
  ul li:before {
    float: left;
    content: '\25E6';
    margin-left: -0.804em;
    padding-right: 0.465em; }
  ul li p:first-child {
    display: block; }

ol {
  list-style: decimal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Cronos Pro", "Century Gothic", Trebuchet, sans;
  line-height: 1; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.389em; }
  h2 + h3 {
    padding-top: 0; }

h3 {
  font-size: 1.157em;
  font-weight: bold;
  color: #6C7487;
  padding-top: 1em;
  padding-bottom: 0.108em; }
  h3 + h4 {
    padding-top: 0.244em; }

h4 {
  font-size: 1.157em;
  font-style: italic;
  padding-top: 1em; }
  h4 + h5 {
    padding-top: 0.244em; }

h5 {
  padding-top: 1em;
  font-style: italic;
  font-size: 1.157em; }
  h5 + h6 {
    padding-top: 0; }

h6 {
  font-weight: 600;
  font-size: 0.965em;
  display: inline-block;
  padding-top: 1.667em;
  padding-right: 0.625em; }
  h6 + p {
    display: inline; }

pre {
  white-space: pre-wrap; }

sup {
  line-height: 0;
  vertical-align: 0.558em;
  font-size: 0.67em; }

em, i, cite {
  font-style: italic;
  line-height: 1; }
  em em, em i, em cite, i em, i i, i cite, cite em, cite i, cite cite {
    font-style: normal; }

cite.bibleref {
  font-style: normal; }

strong {
  font-weight: bold; }

hr {
  width: 62.5%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.4em;
  margin-bottom: 2em;
  border-bottom: none;
  border-right: none;
  border-left: none;
  border-top: 1px solid; }
  hr + p::first-letter {
    font-size: 2.9rem;
    line-height: 1rem;
    float: left;
    margin-top: 0.9rem;
    margin-right: 2px; }

.proper-name {
  white-space: nowrap; }

.poetry {
  white-space: pre-line; }

.smcp {
  font-family: 'Cardo SMCP';
  letter-spacing: 0.8px; }

.epigraph {
  text-align: center;
  font-family: "Cronos Pro", "Century Gothic", Trebuchet, sans;
  font-size: 1.157em;
  line-height: 1.389;
  padding-bottom: 0.965em; }

.greek {
  font-family: "Cardo", Times, "Times New Roman", serif;
  font-weight: normal; }

.lbsBibleRef, .rtBibleRef {
  white-space: nowrap; }

.fa {
  font-size: 0.804em;
  padding-right: 0.224em; }

body {
  border-top: 0.625em solid #01295C; }

#site-header {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  padding-bottom: 2.4rem; }
  #site-header nav {
    -webkit-box-flex: 1 0 300px;
    -moz-box-flex: 1 0 300px;
    -webkit-flex: 1 0 300px;
    -ms-flex: 1 0 300px;
    flex: 1 0 300px;
    text-align: right;
    margin-right: 1em;
    margin-top: 2.88em;
    font-family: "Cronos Pro", "Century Gothic", Trebuchet, sans;
    font-size: 1.157em; }
    #site-header nav a:hover, #site-header nav a:active {
      border-bottom: 3px solid #01295C; }
    #site-header nav ul {
      list-style-type: none; }
      #site-header nav ul li {
        display: inline-block;
        padding-left: 0.224em;
        padding-right: 0.224em; }
        #site-header nav ul li:before {
          content: none; }
  #site-header .hgroup {
    -webkit-box-flex: 1 0 500px;
    -moz-box-flex: 1 0 500px;
    -webkit-flex: 1 0 500px;
    -ms-flex: 1 0 500px;
    flex: 1 0 500px;
    margin-top: 1em;
    margin-left: 2.88em; }
    #site-header .hgroup a, #site-header .hgroup a:hover, #site-header .hgroup a:active, #site-header .hgroup a:visited {
      border-bottom: none; }
  #site-header #site-title {
    font-size: 3.456em;
    display: block; }
  #site-header #site-subtitle {
    margin-left: 1.389em;
    display: block;
    font-family: "Cardo", Times, "Times New Roman", serif;
    font-style: italic;
    font-size: 1.389em;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga";
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga"; }
  #site-header #section-head {
    -webkit-box-flex: 0 100%;
    -moz-box-flex: 0 100%;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
    padding-top: 2.4rem;
    padding-left: 15.3%; }
    #site-header #section-head i {
      font-style: italic; }
      #site-header #section-head i.fa {
        font-style: normal; }
    #site-header #section-head h3 {
      padding: 0;
      border: none; }

.logotype {
  height: 1.667em;
  width: 1.667em;
  vertical-align: -50%;
  padding-right: 0.323rem; }

.section-title {
  text-transform: capitalize; }

article {
  padding-bottom: 2em;
  clear: both;
  margin-left: 15.3%;
  margin-right: 15.3%; }
  article header h1 {
    font-weight: 600; }
    article header h1 a.outbound .fa:before {
      font-size: 0.804em; }
  article header h2 {
    font-size: 1.389em;
    padding-top: 0.465rem;
    padding-bottom: 0.465rem; }
    article header h2:after, article header h2:before {
      content: "\2014"; }
  article .context {
    font-style: italic;
    padding-bottom: 1em;
    padding-bottom: 1em;
    text-indent: 0;
    line-height: 1.389; }
    article .context:last-of-type {
      padding-bottom: 0; }
  article .content-wrapper {
    max-width: 30.814rem; }
  article .intro {
    font-size: 1.389em;
    text-align: center;
    padding-bottom: 1em;
    text-indent: 0;
    line-height: 1.389; }
  article .content > p:first-of-type::first-letter {
    font-size: 2.9rem;
    line-height: 1rem;
    float: left;
    margin-top: 0.9rem;
    margin-right: 2px; }
  article .content > p.citation:first-of-type::first-letter {
    font-size: inherit;
    line-height: inherit;
    float: inherit;
    margin: inherit; }
  article .content h1 {
    padding-top: 1em;
    padding-bottom: 0.323em;
    text-align: center; }
    article .content h1:before {
      content: '\00A7';
      display: inline-block;
      padding-right: 0.244em;
      margin-left: -0.244em;
      color: #d9dce1; }
    article .content h1:first-child {
      padding-top: 0.244em; }
      article .content h1:first-child:before {
        content: none; }
    article .content h1 + p::first-letter {
      font-size: 2.9rem;
      line-height: 1rem;
      float: left;
      margin-top: 0.9rem;
      margin-right: 2px; }
    article .content h1 + h2 {
      padding-top: 0; }
  article .content hr + h1 {
    padding-top: 0.625rem; }
  article .content h2 {
    color: #6C7487;
    text-align: center;
    padding-top: 1em;
    margin-bottom: 0.323em; }
  article .content hr + h1 {
    padding-top: 0.625em; }
  article .content p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto; }
  article.micro {
    font-family: "Cronos Pro", "Century Gothic", Trebuchet, sans; }
  article.archive .content > p:first-of-type::first-letter, article.micro .content > p:first-of-type::first-letter {
    font-size: inherit;
    line-height: inherit;
    float: inherit;
    margin: inherit; }
  article.archive .content h1 + p::first-letter,
  article.archive .content h1 + h2::first-letter, article.micro .content h1 + p::first-letter,
  article.micro .content h1 + h2::first-letter {
    font-size: inherit;
    line-height: inherit;
    float: inherit;
    margin: inherit; }
  article .meta {
    color: #6C7487;
    padding-bottom: 1rem;
    font-size: 0.804em;
    font-family: "Cronos Pro", "Century Gothic", Trebuchet, sans; }
    article .meta span {
      display: inline-block; }
      article .meta span a {
        display: inline; }
      article .meta span:before {
        display: inline-block;
        padding-left: 0.244rem;
        padding-right: 0.244rem;
        content: '\00A7';
        color: #b0b4c0; }
      article .meta span:first-of-type:before {
        content: none; }
    article .meta .hashtag a {
      margin-left: 0.13em;
      margin-right: 0.13em; }
      article .meta .hashtag a:first-of-type {
        margin-left: 0; }
  article p {
    -webkit-font-feature-settings: "liga", "onum", "pnum", "kern";
    -moz-font-feature-settings: "liga", "onum", "pnum", "kern";
    -ms-font-feature-settings: "liga", "onum", "pnum", "kern";
    -o-font-feature-settings: "liga", "onum", "pnum", "kern";
    font-feature-settings: "liga", "onum", "pnum", "kern"; }
  article ul, article ol {
    margin-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em; }
    article ul + hr, article ol + hr {
      margin-top: 1.4em; }
  article .footnote {
    font-size: 0.804em; }
  article.archive {
    width: auto; }
    article.archive header h1 {
      font-weight: 400; }
    article.archive .meta {
      padding-bottom: 0; }
    article.archive .content-wrapper {
      padding-bottom: 1rem; }
  article.code code, article.micro code {
    font-family: 'Source Code Pro', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    background: #efefef;
    border-radius: 0.244em;
    border: 1px solid #d9dce1;
    margin: 1em 0;
    overflow: scroll; }
  article.code code, article.micro code {
    padding: 0 0.269em;
    font-size: 0.804em; }
  article.code pre, article.micro pre {
    padding-top: 0.558em;
    padding-bottom: 0.558em; }
    article.code pre code, article.micro pre code {
      padding: 1em 0.558em;
      font-size: 0.625em;
      white-space: pre; }
  article figure {
    padding-top: 2em;
    padding-bottom: 1em; }
    article figure img {
      box-shadow: 0 0 0.625em #6C7487; }
  article figcaption {
    color: #6C7487;
    text-align: center; }

sup[id^="fnref:"] a {
  -webkit-font-feature-settings: "lnum", "tnum";
  -moz-font-feature-settings: "lnum", "tnum";
  -ms-font-feature-settings: "lnum", "tnum";
  -o-font-feature-settings: "lnum", "tnum";
  font-feature-settings: "lnum", "tnum"; }
  sup[id^="fnref:"] a:before {
    content: "["; }
  sup[id^="fnref:"] a:after {
    content: "]"; }

#site-footer {
  margin-top: 2.88em;
  margin-bottom: 2.88em;
  background-color: #01295C;
  min-height: 3.456em;
  color: #FEFEFE;
  text-align: center;
  line-height: 1.389;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  #site-footer a:hover, #site-footer a:active {
    color: #FEFEFE;
    border-bottom: 1px solid #6C7487; }
  #site-footer a .fa, #site-footer a:visited .fa {
    color: #b0b4c0;
    -webkit-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border 0.224s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.224s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #site-footer a:hover .fa, #site-footer a:active, #site-footer .fa {
    color: #FEFEFE;
    -webkit-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: border 0.465s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.465s cubic-bezier(0.645, 0.045, 0.355, 1); }
  #site-footer section {
    border-top: 0.244rem solid #20282A;
    padding-bottom: 1.667em;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  #site-footer h1 {
    background: #5592C9;
    font-size: 2em;
    border-bottom: 0.156rem solid #FEFEFE;
    text-shadow: 0 0 2px #01295C;
    padding-top: 0.224em;
    padding-bottom: 0.153em;
    margin-bottom: 0.224em; }
  #site-footer h2 {
    font-size: 1.667em;
    padding-top: 1em;
    text-shadow: 0 0 2px #20282A;
    margin-left: auto;
    margin-right: auto; }
    #site-footer h2:first-of-type {
      padding-top: 0.465em; }
  #site-footer ul li {
    line-height: 1;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0; }
    #site-footer ul li:before {
      content: none;
      display: none;
      content: none;
      margin-left: 0;
      padding-right: 0; }
  #site-footer ul.icons {
    padding-right: 0.6945em; }
  #site-footer ul.inline {
    margin-left: auto;
    margin-right: auto; }
    #site-footer ul.inline li {
      display: inline-block;
      text-align: left;
      padding-right: 0.323em; }
      #site-footer ul.inline li:after {
        content: none; }
      #site-footer ul.inline li.section-title {
        width: 32.3%;
        text-align: right; }
        #site-footer ul.inline li.section-title:after {
          content: ':'; }

.bigfoot-footnote__button:after {
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "Cronos Pro", "Century Gothic", Trebuchet, sans;
  font-size: 0.804em; }

.bigfoot-footnote__tooltip {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.bigfoot-footnote__content {
  line-height: 1.389;
  font-size: 0.965em; }

/**
 * Modular scale:
 *    http://modularscale.com/scale/?px1=20&px2=40&ra1=1.6&ra2=1.2&name=minorsixthminorthird
 *
 * Base text size: 20px @ 5:8 (minor sixth)
 * Important number: 40px @ 5:6 (minor third)
 *
 * Font sizes given in terms of headings/paragraph (fs1 => h1, fsp => p)
 * The commented sizes are at the base scale.
 *
 * Note that the ratios are the important bit; the base text size can be adjusted
 * at whim and the ratios will rremain fixed---only the calculated px values will
 * change.
 */
/* Color schreme:
 *    //www.colourlovers.com/palette/1875001/The_First_Scarf
 *
 * Colors:
 *    Dark gray:  #20282A (more than the ocean)
 *    Light gray: #6C7487 (terminal blue gray)
 *    White:      #FFFFFF (white)
 *    Light blue: #5592C9 (Scarf Stripe)
 *    Dark blue:  #01295C (Dark Wash Jeans)
 */
/* Font families
 *
 * Font kits hosted locally and served by Fonts.com.
 */
@media only screen and (min-width: 1280px) and (min-height: 800px) {
  html {
    font-size: 150%; } }
@media only screen and (max-width: 920px) {
  #site-header .hgroup {
    -webkit-box-flex: 1 100%;
    -moz-box-flex: 1 100%;
    -webkit-flex: 1 100%;
    -ms-flex: 1 100%;
    flex: 1 100%; }
  #site-header nav {
    -webkit-box-flex: 1 0 100%;
    -moz-box-flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    text-align: left;
    background: #01295C;
    padding-top: 0.465rem;
    padding-bottom: 0.391rem;
    border-top: 1px solid #d9dce1;
    border-bottom: 1px solid #d9dce1;
    margin-top: 1.667em;
    margin-left: 0;
    margin-right: 0; }
    #site-header nav ul {
      margin-left: auto;
      margin-right: auto;
      width: 30.814rem; }
    #site-header nav a:hover {
      color: #FEFEFE;
      border: none; }
  #site-header #section-head {
    padding-left: 0; }
    #site-header #section-head h3 {
      width: 30.814rem;
      margin-left: auto;
      margin-right: auto; }

  article {
    margin-left: auto;
    margin-right: auto; }
    article.archive, article header, article .meta {
      max-width: 30.814rem; }
    article header, article .meta, article .content-wrapper {
      margin: auto; } }
@media only screen and (max-width: 900px) and (min-width: 680px) {
  #site-footer ul.inline {
    padding-top: 0.625em; }
    #site-footer ul.inline li.section-title {
      display: block;
      width: auto;
      text-align: center; } }
@media only screen and (max-width: 680px) and (min-width: 520px) {
  #site-footer ul.inline li.section-title {
    width: 15.3%; } }
@media only screen and (max-width: 680px), only screen and (max-height: 480px) {
  html {
    font-size: 16px;
    line-height: 1.389; }

  body {
    line-height: 1.389; }

  hr {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 32.3%; }

  article {
    padding-bottom: 1.667em; }
    article.archive .meta {
      padding-bottom: 0; } }
@media only screen and (max-width: 680px) {
  header {
    text-align: center; }

  #site-header {
    padding-bottom: 1.667em; }
    #site-header .hgroup {
      margin-left: 0;
      margin-right: 0; }
    #site-header #site-subtitle {
      margin-left: 0;
      margin-right: 0; }
    #site-header nav {
      text-align: center;
      width: auto; }
      #site-header nav ul {
        width: auto; }
    #site-header #section-head {
      text-align: center;
      width: auto;
      padding-left: 0;
      padding-top: 1.389em;
      padding-bottom: 0; }
      #site-header #section-head h3 {
        width: auto; }

  article, article.archive {
    max-width: 26.844rem;
    width: auto;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em; }
    article header, article .meta, article.archive header, article.archive .meta {
      text-align: center; }

  #site-footer section {
    -webkit-box-flex: 1 0 100%;
    -moz-box-flex: 1 0 100%;
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%; }
  #site-footer h1 {
    padding-left: 0; } }
@media only screen and (max-width: 520px) {
  #site-footer ul.inline li.section-title {
    width: 22.4%; } }
@media only screen and (max-width: 440px) {
  #site-header {
    font-size: 80.3%; }

  .logotype {
    height: 1.389em;
    width: 1.389em;
    vertical-align: -38.9%;
    padding-right: 0.153rem; } }
@media only screen and (max-width: 300px) {
  .logotype, br.optional {
    display: none; } }

/*# sourceMappingURL=style.css.map */
