{% extends "archives.html" %}

{% block title %}{{ category.name | capitalize }} &middot; {{ SITENAME }}{% endblock %}

{% block additional_feeds %}
    <link rel="alternate" href="feeds/{{ category.name }}.xml"  type="application/rss+xml" title="Posts filed under '{{ category.name|title }}'"/>
{% endblock %}

{% block section_head %}
<div id="section-head">
    <h3>
        Filed under <span class="section-title">{{ category.name }}</span> ({{ articles|length }}) <a title="{{ category.name }} feed" href="{{ SITEURL }}/feeds/{{ category.slug }}.xml"><i class="fa fa-fw fa-rss"></i></a>
    </h3>
</div>{% endblock %}
