{% extends "base.html" %}

{% block title %}{{ item.title|striptags }} &middot; {{ SITENAME }}{% endblock %}
{% if item is defined and item.description is defined %}{% block description %}{{ item.description|striptags }}{% endblock %}{% endif %}

{% block content %}

{% block article_el %}
<article {% if item.code == 'true' %}class='code'{% endif %}>
{% endblock %}

    <header>
        {% block item_title %}<h1>{{ item.title }}</h1>{% endblock item_title %}

        {% if item.subtitle is defined %}<h2>{{ item.subtitle }}</h2>{% endif %}
    </header>

    <div class="meta">{% block meta %}{% endblock %}</div>

    <div class="content-wrapper">
    {% block context %}{% endblock %}

    {% if item.intro is defined %}
        {% block intro %}<p class="intro">{{ item.intro }}</p>{% endblock %}
    {% endif %}

        <div class="content">
            {% if item.epigraph is defined %}<div class="epigraph">{{ item.epigraph }}</div>{% endif %}

            {% block item_content %}{{ item.content }}{% endblock item_content %}
        </div>
    </div>
    </article>

{% endblock %}
