{% extends "base.html" %}

{% block title %}{{ item.title|striptags }} &middot; {{ SITENAME }}{% endblock %}
{% block description %}{{ item.summary|striptags }}{% endblock %}

{% block content %}

{% block article_el %}
<article class="{%for t in item.tags %}{{ t.slug }}{% endfor %} {{ item.category.slug }}">
{% endblock %}

    <header>
        {% block item_title %}<h1>{{ item.title }}</h1>{% endblock item_title %}

        {% block item_subtitle %}{% if item.subtitle is defined %}<h2>{{ item.subtitle }}</h2>{% endif %}{% endblock item_subtitle %}
    </header>

    <div class="meta">{% block meta %}{% endblock %}</div>

    <div class="content-wrapper">
    {% block context %}{% endblock %}

    {% if item.intro is defined %}
        {% block intro %}<p class="intro">{{ item.intro }}</p>{% endblock %}
    {% endif %}

        <div class="content">
            {% if item.epigraph is defined %}<div class="epigraph">{{ item.epigraph }}</div>{% endif %}

            {% block item_content %}{{ item.content }}{% endblock item_content %}
        </div>
    </div>
</article>

{% endblock %}
