{% extends "base.html" %}

{% block title %}{{ item.title|striptags }} &middot; {{ SITENAME }}{% endblock %}
{% block description %}{{ item.summary|striptags }}{% endblock %}

{% block content %}

{% block article_el %}
<article class="{%for t in item.tags %}{{ t.slug }} {% endfor %}{{ item.category.slug }}">
{% endblock %}

    <header>
        {% block item_title %}<h1>{{ item.title }}</h1>{% endblock item_title %}

        {% block item_subtitle %}{% if item.subtitle is defined %}<h2>{{ item.subtitle }}</h2>{% endif %}{% endblock item_subtitle %}
    </header>

    <div class="meta">{% block meta %}{% endblock %}</div>

    <div class="content-wrapper">
    {% block context %}{% endblock %}

    {% if item.intro is defined %}
        {% block intro %}<p class="intro">{{ item.intro }}</p>{% endblock %}
    {% endif %}

        <div class="content">
            {% if item.epigraph is defined %}<div class="epigraph">{{ item.epigraph }}</div>{% endif %}

            {% block item_content %}{{ item.content }}{% endblock item_content %}
        </div>
    </div>
</article>

{% endblock %}

{% block extra_scripts %}
{# Highlight.js for code highlighting #}
<link rel="stylesheet" href="/{{ THEME_STATIC_DIR }}/tomorrow.min.css">
<script src="{{ JS_DIR }}/highlight.pack.js"></script>
<script type="text/javascript">
// Get all the <pre><code> elements, and use the <pre> element to set the <code>
// element's class so hljs will use it rather than trying to figure it out.
var preEls = document.getElementsByTagName('pre');
for (var e in preEls) {
    var pre = preEls[e];
    if (pre.firstChild && pre.firstChild.tagName === 'CODE') {
        var code = pre.firstChild;
        code.className = pre.className;
    }
}

// Then run hljs.
hljs.initHighlightingOnLoad();
</script>

{# Apply spacing rules. #}
<script type="text/javascript" src="{{ JS_DIR }}/spacewell.js"></script>
<script type="text/javascript">
var articles = document.getElementsByTagName('article');
var options = {'emDashes': true, 'enDashes': true};
for (var a in articles) {
  if (articles.hasOwnProperty(a)) { spacewell(articles[a], options); }
}
</script>
{% endblock %}
