<section id="connect">
    <h2>Connect</h2>
    <ul class="icons">
        <li><a href="{{ IDENTITY['Email']}}"><i class="fa fa-fw fa-envelope"></i>Email</a></li>
        <li><a href="{{ IDENTITY['GitHub'] }}"><i class="fa fa-fw fa-github"></i>GitHub</a></li>
        <li><a href="{{ IDENTITY['Twitter'] }}"><i class="fa fa-fw fa-twitter"></i>Twitter</a></li>
        <li><a href="{{ IDENTITY['SoundCloud'] }}"><i class="fa fa-fw fa-soundcloud"></i>SoundCloud</a></li>
        <li><a href="{{ IDENTITY['LinkedIn'] }}"><i class="fa fa-fw fa-linkedin"></i>LinkedIn</a></li>
        <li><a href="{{ IDENTITY['Vimeo'] }}"><i class="fa fa-fw fa-vimeo"></i>Vimeo</a></li>
        <li><a href="{{ IDENTITY['Stack Overflow'] }}"><i class="fa fa-fw fa-stack-overflow"></i>Stack Overflow</a></li>
    </ul>
    <h3>Support Me</h3>
    <ul class='icons'>
        <li><a href="{{ IDENTITY['Patreon'] }}"><i class='fa fa-fw fa-money'></i>Patreon</a></li>
        <li><a href="{{ IDENTITY['Cash.me'] }}"><i class='fa fa-fw fa-usd'></i>Cash.me</a></li>
    </ul>
</section>
<section id="subscribe">
    <h2>Subscribe</h2>
    <ul class="icons">
        <li class="section-title">
            <a onclick="window.open('http://eepurl.com/GzswP', 'subscribe', 'width=608,height=608')">
                   <i class="fa fa-fw fa-envelope"></i>Email
            </a>
        </li>
    </ul>
    <h3>Feeds</h3>
    <ul class="icons">
        <li class="section-title">
            <a href="{{ SITEURL }}/{{ FEED_ALL_RSS }}"><i class="fa fa-fw fa-rss"></i>Everything</a>
        </li>
        {% for category, _ in categories %}
        <li class="section-title">
            <a href="{{ SITEURL }}/feeds/{{ category }}.xml"><i class="fa fa-fw fa-rss"></i>{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
<section id="recent">
    <h2>Recent</h2>
    <ul>
    {% for category, category_articles in categories %}
        {% if category != 'micro' %}
        <li>{{ category.name|capitalize }}: <a href="{{ SITEURL }}/{{ category_articles[0].url }}">{{ category_articles[0].title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
</section>
