:root {
    --that-blue: #5592C9;
    --just-gray: #343434;
    --sans: 'Source Sans Pro';
    --code: 'Source Code Pro';
    --serif: 'Source Serif Pro';
}

.reveal h1 {
    font-family: var(--serif);
    font-weight: normal;
    font-size: 2em;
    line-height: 1;
    margin-bottom: 1em;
    color: var(--that-blue);
}

.reveal h1 + h2 {
    font-family: var(--sans);
    font-weight: normal;
}

.reveal h2 {
    font-family: var(--serif);
}

.reveal h3 {
    font-family: var(--serif);
    font-weight: normal;
}

.reveal section img {
    border: none;
}

.reveal .special-content-box {
    border: 3px solid var(--that-blue);
    padding: 0.75em 2em;
    margin: 0.75em 0;
}

.reveal .special-content {
    color: var(--that-blue);
    font-weight: normal;
    font-family: var(--serif);
}

.reveal hr {
    height: 1px;
    background-color: var(--just-gray);
    border: none;
}

.reveal .spacer {
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
}
