@import "mixins";
@import "reset";
@import "base";
@import "components/version-badge";
@import "custom-elements";

// General default styles
html {
    font-size: 118.75%; // -> 19px, using percentage for IE user settings
    font-family: $serif;
    color: $dark_gray;
    background: $dark_blue;
    line-height: $line_height;
}

body {
    line-height: $line_height;
    background: $white;
}

a {
    text-indent: 0;
    text-decoration: none;
    display: inline-block;
    line-height: 1;

    @include transition(border 0.224s $easeInOutCubic,
                        color 0.224s $easeInOutCubic);

    &:link, &:visited {
        color: $light_blue;
        border-bottom: 1px solid transparent;
    }

    &:hover, &:active {
        color: $dark_blue;
        border-bottom: 1px solid $dark_gray;

        @include transition(border 0.465s $easeInOutCubic,
                            color 0.465s $easeInOutCubic);
    }
}

b { font-weight: bold; }

i { font-style: italic; }

img {
    max-height: 100%;
    max-width: 100%;
}

kbd {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    color: #333;
    display: inline-block;
    font-family: System, -apple-system, Avenir, Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1.4;
    margin: 0 .1em;
    padding: .1em .6em;
    text-shadow: 0 1px 0 #fff;
}

.iframe-wrapper {
    margin: 1em auto;
    display: block;
    position: relative;
    height: 0;

    &.four-to-three {
        padding-bottom: 75%;
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.media-embed {
    margin: 1em auto;
    display: block;
    position: relative;
    width: 75%;
}

p, ul, ol, li {
    font-size: $fsp;
}

blockquote {
    font-size: $fs6;
    color: $light_gray;
    line-height: $line_height_small;
    margin: {
        top: $fsp;
        bottom: $fsp;
        left: 0.224em;
        right: 0;
    }

    border-left: 2px solid $light_blue;

    padding: {
        top: 0;
        bottom: 0.323em;
        left: $fs5;
        right: $fs1;
    }
}

abbr {
    font-family: $serif-smcp;
    text-transform: lowercase;
    letter-spacing: 0.2pt;
}

// Paragraph styles
p {
    margin-top: $fsp;
}

.citation { text-align: right; }

p + ul,
p + ol {
    margin-top: 1em;
}

ul {
    list-style-type: circle;

    li {
        p,
        p:first-child {
            display: block;
            margin-bottom: 1em;
        }
    }

    ul {
        list-style-type: disc;

        ul {
            list-style-type: square;

            ul {
                list-style-type: circle;

                ul {
                    list-style-type: disc;

                    ul { list-style-type: square; }
                }
            }
        }
    }
}

ol { list-style: decimal;

    li {
        p,
        p:first-child {
            display: block;
            margin-bottom: 1em;
        }
    }

    ol { list-style: upper-latin;

        ol { list-style: lower-roman;

            ol { list-style: lower-latin;

                ol { list-style: lower-greek; }
            }
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
    line-height: 1;
}

h1 {
    font-size: $fs2;
}

h2 {
    font-size: $fs4;

    + h3 {
        padding-top: 0;
    }
}

h3 {
    font: {
        size: $fs5;
        weight: bold;
    }

    color: $light_gray;
    padding: {
        top: 1em;
        bottom: 0.108em;
    }

    + h4 {
        padding-top: 0.244em;
    }
}

h4 {
    font: {
        size: $fs5;
        style: italic;
    }
    padding-top: 1em;

    + h5 { padding-top: 0.244em; }
}

h5 {
    padding-top: $fsp;
    font: {
        style: italic;
        size: $fs5
    }

    + h6 { padding-top: 0; }
}

h6 {
    font: {
        weight: 600;
        size: $fs6;
    }

    display: inline-block;
    padding: {
        top: $fs3;
        right: $fs_very_small;
    }

    + p { display: inline; }
}

pre { white-space: pre-wrap; }

pre, code { @include hyphens(none !important); }

sup {
    line-height: 0; // Fixes vertical alignment issues
    vertical-align: 0.558em;
    font-size: $fs_smaller;
    font-feature-settings: "onum" 0;
}

em, i, cite {
    font-style: italic;
    line-height: 1;  // Fix for different heights in Cardo.

    em, i, cite { font-style: normal; }
}

dt {
  font-style: italic;
  margin-top: 1em;
}

dd {
  margin-left: 2em;
}


cite.bibleref { font-style: normal; }

strong { font-weight: bold; }

hr {
    border: none;

    &::after {
        content: "•          •          •          •          •";
        margin: $fs4_abs auto;
        display: block;
        text-align: center;
        position: relative;

        font-size: 0.75em;

        background: white;
        color: $light_gray;
    }
}

table {
  width: 100%;
  table-layout: fixed;
  margin: {
    top: 1em;
    bottom: 1em;
    left: auto;
    right: auto;
  }
}

thead {
  background-color: lighten($light_gray, 40%);
}

th {
  font-weight: bold;
}

th, td {
  border: 1px solid;
  padding: {
    top: 0;
    bottom: 0;
    left: 1em;
    right: 1em;
  }
}

// Special styles
.proper-name {
    white-space: nowrap;
}

.smcp {
    font-family: $serif-smcp;
    letter-spacing: 0.2pt;
}

.divine-name {
    @extend .smcp;
}

.tetragrammaton {
    @extend .divine-name;
    text-transform: lowercase;
}

.epigraph {
    text-align: center;
    font: {
        family: $sans;
        size: $fs5;
    }
    line-height: $line_height_small;
    padding-bottom: $fs6;
}

.fa {
    font-size: $fs_small;
    padding-right: 0.224em;
}

// ----- Layout -----
body::before {
    content: '';
    width: 100%;
    display: block;
    height: $fs_very_small / 2;
    background: linear-gradient(to right,
                                $light_blue -15%,
                                $dark_blue 35%,
                                $light_blue);
    border-bottom: 1px solid $light_gray;
}

// Header
#site-header {
    @include flexbox();
    @include flex-flow(row wrap);
    @include justify-content(space-around);
    padding-bottom: $fs1_abs;

    nav {
        @include flex(1 0 300px);
        text-align: right;
        margin: {
            right: $fsp;
            top: $fs_large;
        }
        font: {
            family: $sans;
            size: $fs5;
        }

        a:hover, a:active {
            border-bottom: 3px solid $dark_blue;
        }

        ul {
            list-style-type: none;

            li {
                display: inline-block;
                padding: {
                    left: 0.224em;
                    right: 0.224em;
                }

                &:before {
                    content: none;
                }
            }
        }
    }

    .hgroup {
        @include flex(1 0 500px);

        margin: {
            top: $fsp;
            left: $fs_large;
        }

        a, a:hover, a:active, a:visited {
            border-bottom: none;
        }
    }

    #site-title {
        font-size: $fs_very_large;
        display: block;
    }

    #site-subtitle {
        margin-left: $fs4;
        display: block;
        line-height: 1.1;
        text-indent: -0.25em;
        font: {
            family: $serif;
            style: italic;
            size: $fs4;
        }
        @include font-feature-settings('liga');
    }

    #section-head {
        @include flex(0 100%);
        padding: {
            top: $fs1_abs;
            left: 15.3%;
        }

        i {
            font-style: italic;

            &.fa {
                font-style: normal;
            }
        }

        h3 {
            padding: 0;
            border: none;
        }
    }
}

.logotype {
    height: $fs3;
    width: $fs3;
    vertical-align: -50%;
    padding-right: 0.323rem;
}

.section-title {
    text-transform: capitalize;

    &.micro { display: none; }
}

.section-title.divider::after {
    content: "//";
    letter-spacing: -0.1em;
}

video {
    max-width: 100%;
}

// Article
article {
    padding-bottom: $fs2;
    clear: both;
    margin: {
        left: 15.3%;
        right: 15.3%;
    }

    header {
        h1 {
            font-weight: 600;

            a.outbound {
                .fa:before {
                    font-size: 0.804em;
                }
            }
        }

        h2 {
            font: {
                family: $serif;
                size: $fs5;
                style: italic;
            }

            line-height: $line_height_small;

            padding: {
                top: 0.465rem;
                bottom: 0.465rem;
            }

            cite { font-style: normal; }
        }
    }

    @mixin pre-content-p {
        padding-bottom: $fsp;
        line-height: $line_height_small;
    }

    .context {
        font-style: italic;
        padding-bottom: $fsp;
        @include pre-content-p();

        &:last-of-type {
            padding-bottom: 0;
        }
    }

    .content-wrapper {
        max-width: 32rem;
    }

    .intro {
        font-size: $fs4;
        text-align: center;
        @include pre-content-p();
    }

    .content {
        h1 {
            padding-top: $fsp;
            padding-bottom: 0.323em;
            text-align: center;

            &:before {
                content: '\00A7';
                display: inline-block;
                padding-right: 0.244em;
                margin-left: -0.244em;
                text-shadow: 1px 1px 1px lighten($light_gray, 39.1%);
                color: $light_blue;
            }

            + h2 {
                padding-top: 0;
            }
        }

        p:first-child { margin-top: 0; }

        .section:first-child h1 {
            padding-top: 0.244em;

            &:before { content: none; }
        }

        hr + h1 { padding-top: $fs_very_small_abs; }

        h2 {
            color: $light_gray;
            text-align: center;
            padding-top: $fsp;
            margin-bottom: 0.323em;
        }

        hr + h1 { padding-top: $fs_very_small; }

        p { @include hyphens(auto); }

        a { display: inline; }
    }

    &.micro, &.links {
      .content { font-size: 0.9em; }
    }

    &.links,
    &.archive.links {
        header h1 {
            font: normal normal 400 #{$fs4}/#{$line_height_small} $serif;
        }
    }

    .meta {
        color: $light_gray;
        padding-bottom: $fsp_abs;
        font: {
            size: $fs_small;
            family: $sans;
        }

        span {
            display: inline-block;

            a {
                display: inline;
            }

            &:before {
                display: inline-block;
                padding: {
                    left: 0.244rem;
                    right: 0.244rem;
                }
                content: '\00A7';
                color: lighten($light_gray, 24.4%);
            }

            &:first-of-type:before {
                content: none;
            }
        }

        .hashtag a {
            display: inline-block;

            margin: {
                left: 0.13em;
                right: 0.13em;
            }

            &:first-of-type {
                margin-left: 0;
            }
        }
    }

    p {
        @include font-feature-settings('liga', 'onum', 'pnum', 'kern');
    }

    ul, ol {
        margin: {
            top: $fsp;
            bottom: $fsp;
            left: $fs3;
        }

        + hr { margin-top: 1.4em; }
    }

    .references p {
        font-size: $fs6;
        padding-bottom: $fsp_abs;
        line-height: $line_height_small;
    }

    .footnote, .footnotes { font-size: $fs_small; }

    &.archive {
        width: auto;
        header h1 {
            font-weight: 400;
        }

        .meta {
            padding-bottom: 0;
        }

        .content-wrapper {
            padding-bottom: 1rem;
        }
    }

    code {
        font-family: Hack,
                     'DejaVu Sans Mono',
                     'Bitstream Vera Sans Mono',
                     monospace;
        border: {
          style: solid;
          width: 1px;
          color: #e0e3e8;
          radius: 2px;
        }
        margin: $fsp 0.1345em;
        overflow: scroll;
        padding: 0.269em 0.269em 0.1345em;
        font-size: $fs_small;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    pre {
        padding: 0.558em;
        margin: 0.558em 0;

        border: {
          style: solid;
          width: 1px;
          color: #e0e3e8;
          radius: 2px;
        }

        code {
            padding: 0;
            background: none;
            border: none;
            white-space: pre;

            &.hljs {
              padding: 0;
              margin: 0;
            }
        }

        &+ p { margin-top: 0; }
    }

    figure {
        padding: {
            top: $fs2;
            bottom: $fsp;
        }

        text-align: center;

        img { box-shadow: 0 0 0.625em $light_gray; }
    }

    figcaption {
        color: $light_gray;
        text-align: center;
    }
}

sup[id^="fnref:"] a {
    @include font-feature-settings('lnum', 'tnum');

    &:before {
        content: "[";
    }

    &:after {
        content: "]";
    }
}

// Footer
#site-footer {
    margin-top: $fs_large;
    padding-bottom: $fs_large;
    background: $dark_blue;
    min-height: $fs_very_large;
    color: $white;
    text-align: center;
    line-height: $line_height_small;
    position: relative;
    border-top: 1px solid $light_gray;
    font-family: $sans;
    @include flexbox();
    @include flex-flow(row wrap);

    $footer-header-height: $fs3-abs + $fsp-abs;

    &::before {
        content: '';
        position: absolute;
        z-index: 0;
        height: $footer-header-height;
        width: 100%;
        border-bottom: 1px solid $white;
        background: linear-gradient(to right,
                                    $light_blue -15%,
                                    $dark_blue,
                                    $light_blue 115%);
    }

    a:hover, a:active {
        color: $white;
        border-bottom: 1px solid $light_gray;
    }

    a .fa, a:visited .fa {
        color: lighten($light_gray, 24.4%);
        @include transition(border 0.224s $easeInOutCubic,
                            color 0.224s $easeInOutCubic);
    }

    a:hover .fa, a:active, .fa {
        color: $white;
        @include transition(border 0.465s $easeInOutCubic,
                            color 0.465s $easeInOutCubic);
    }

    section {
        padding-bottom: $fs3;
        z-index: 1;

        @include flex(1);
    }

    h2 {
        font-size: $fs3-abs;
        line-height: 1.667;
        margin: 0 0 $fsp-abs;
        height: $footer-header-height;
    }

    h3 {
        color: $white;
        font: {
            size: $fs3;
            weight: 300;
        }

        padding-top: $fsp;
        text-shadow: 0 0 2px $dark_gray;
        margin: {
            left: auto;
            right: auto;
        }
    }

    h2 + ul, h2 + h3 {
        &:first-of-type { padding-top: 0.465rem; }
    }

    ul {
        list-style-type: none;

        li {
            line-height: $line_height_min;
            padding: {
                top: $fsp/4;
                bottom: $fsp/4;
                left: 0;
            }


            &:before {
                content: none;
                display: none;
                content: none;
                margin-left: 0;
                padding-right: 0;
            }
        }

        &.icons {
            padding-right: $fs4/2;
        }
    }
}

// miscellanies
.tex { font-family: $serif-smcp; }

.texA {
    position: relative;
    font-size: $fs-small;
    bottom: 0.3em;
    margin-left: -0.3em;
    margin-right: -0.1em;
}

.texE {
    position: relative;
    bottom: -0.2em;
    margin: {
        left: -0.2em;
        right: -0.1em;
    }
}


@import "media";
